<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <filter-name>FilterLog</filter-name>
        <filter-class>filters.FilterLog</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLog</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ui.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>ui.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ui.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DaoWorker</servlet-name>
        <servlet-class>ui.DaoWorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>ui.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DaoWorker</servlet-name>
        <url-pattern>/DaoWorker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Main.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                info
            </web-resource-name>
            <url-pattern>/PersonalServlet</url-pattern>
            <url-pattern>/CheckoutServlet</url-pattern>
            <url-pattern>/Cart.jsp</url-pattern>
            <url-pattern>/Profile.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>user</role-name>
    </security-role>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Login.jsp</form-login-page>
            <form-error-page>/Login.jsp?Retry=yes</form-error-page>
        </form-login-config>
    </login-config>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>ui.ProductServlet</servlet-class>
        <init-param>
            <param-name>lang</param-name>
            <param-value>de</param-value>
        </init-param>
        <init-param>
            <param-name>container</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>index</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>vlad</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>ui.AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>default_tab</param-name>
        <param-value>0</param-value>
    </context-param>
</web-app>
